$color-white: #fff;
$color-offwhite: #f4f4f4;
$color-black: #000;
$color-light-grey: #c7c7cd;
$color-grey: #808080;
$color-grey-dark: #696969;
$color-success-green: #4bb543;
$color-error-red: #ff0000;
