* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
  color: #000;
}

input {
  accent-color: #32cd32;
}

input[type=checkbox] {
  margin: 10px;
}

#todo-input {
  padding: 8px 10px 8px 0;
  border-radius: 6px 0 0 6px;
  text-indent: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  border: none;
}

#todo_el {
  border-radius: 8px;
  padding: 10px 5px;
  color: black;
  margin-bottom: 8px;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.5);
}
#todo_el button {
  cursor: pointer;
}
#todo_el select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 150px;
  height: 41px;
  background-color: lightgray;
  font-size: 16px;
  padding: 8px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  border: #f4f4f4;
  margin-left: 10px;
}
#todo_el select:hover {
  background-color: #c7c7cd;
}

.edit-btn {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  border-radius: 0px 8px 8px 0px;
  border: none;
  height: 41px;
  background-color: lightgray;
  padding-right: 12px;
  padding-left: 8px;
}
.edit-btn:hover {
  background-color: #c7c7cd;
}

.delete-btn {
  background-color: transparent;
  border: none;
  color: red;
  font-size: 28px;
  font-weight: 800;
  margin: 10px;
}

.project-name__container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

input:focus {
  outline: none;
}

#new-todo__form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

#new-todo__input {
  padding: 12px 20px 13px 0;
  border-radius: 6px 0px 0px 6px;
  text-indent: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  border: none;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.5);
}

#form-select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 200px;
  height: 50px;
  background-color: lightgray;
  font-size: 16px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  border: #f4f4f4;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.5);
}

#form-select:hover {
  background-color: #c7c7cd;
}

#new-todo__due-date {
  height: 50px;
  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.5);
}

#new-todo__btn {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  border-radius: 0px 8px 8px 0px;
  border: none;
  height: 50px;
  cursor: pointer;
  background-color: lightgray;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.5);
  padding-left: 8px;
  padding-right: 12px;
}

#new-todo__btn:hover {
  background-color: #c7c7cd;
}

.list-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 20px;
}

.todo-heading__container {
  display: flex;
  justify-content: center;
  color: #ff0000;
}

.in-progress-heading__container {
  display: flex;
  justify-content: center;
  color: #ffd800;
}

.complete-heading__container {
  display: flex;
  justify-content: center;
  color: #4bb543;
}/*# sourceMappingURL=main.css.map */