.list-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 20px;
}

.todo-heading__container {
  display: flex;
  justify-content: center;
  color: #ff0000;
  font-size: 2rem;
}

.in-progress-heading__container {
  display: flex;
  justify-content: center;
  color: #ffd800;
  font-size: 2rem;
}

.complete-heading__container {
  display: flex;
  justify-content: center;
  color: $color-success-green;
  font-size: 2rem;
}
