input {
  accent-color: #32cd32;
}

input[type="checkbox"] {
  margin: 10px;
}

#todo-input {
  height: 41px;
  border-radius: 6px 0 0 6px;
  text-indent: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  border: none;

  @media only screen and (max-width: 700px) {
    width: 200px;
  }

  @media only screen and (max-width: 600px) {
    width: 150px;
  }

  @media only screen and (max-width: 450px) {
    width: 100px;
  }

  @media only screen and (max-width: 375px) {
    width: 75px;
  }
}

#todo_el {
  border-radius: 8px;
  padding: 10px 5px;
  color: black;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 8px;
  -webkit-box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.5);

  @media only screen and (max-width: 375px) {
    margin-left: 0;
    margin-right: 0;
    padding: 8px 0;
  }

  & button {
    cursor: pointer;
  }

  & select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 150px;
    height: 41px;
    background-color: lightgray;
    font-size: 1.6rem;
    padding: 8px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    border: $color-offwhite;
    margin-left: 10px;

    @media only screen and (max-width: 600px) {
      width: 70px;
    }

    @media only screen and (max-width: 375px) {
      width: 50px;
      font-size: 1.1rem;
    }
  }

  & select:hover {
    background-color: $color-light-grey;
  }
}

.edit-btn {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  border-radius: 0px 8px 8px 0px;
  border: none;
  height: 41px;
  background-color: lightgray;
  padding-right: 12px;
  padding-left: 8px;

  &:hover {
    background-color: $color-light-grey;
  }
}

.delete-btn {
  background-color: transparent;
  border: none;
  color: red;
  font-size: 2.8rem;
  font-weight: 800;
  margin: 10px;
}

.days-left {
  color: #fff;
  font-weight: 800;
  margin-left: 30px;
  font-size: 1.5rem;
}
